# Prevent users to commit their own .RData and .Rhistory in mutual area
.RData
.Rhistory
.Rapp.history
.Rproj.user
.Ruserdata

# Temporary files
*~
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*

#Navigating to a folder using the "Finder" on Mac generates a .DS_Store file holding metadata about the folder (e.g. thumbnails etc.). 
#These files can pollute your git commits and are annoying.
.DS_Store
